---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

// --- Your Custom Overrides ---
.sidebar,
.sticky,
.sidebar__right.sticky {
  position: relative !important;
  top: 0 !important;
}

.page__footer {
  position: relative;
  z-index: 1;
}
